.AddUser__button {
    position: fixed;
    top: 80%;
    /* left: 92%; */
    right: 1%;
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
    background: linear-gradient(45deg, #ff3b3f, #e60073);
    color: white;
    border: none;
    font-size: 90px;
    box-shadow: 0 0 10px #e60073;
}

.AddUser__button span {
    position: relative;
    bottom: 22%;
    left: 0%;
}

.AddUser__button:hover {
    box-shadow: 0 0 25px #e6007380;
    cursor: pointer;
    transform: scale(1.2);
}

.Add-user__modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.Add-user__modal__content {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 300px;
    max-height: 80%;
}

.Add-user__modal__content__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 30px;
    padding: 20px;
}

.Add-user__modal__content__form input[type="text"],
textarea {
    font-size: 22px;
    box-shadow: -2px 2px 5px rgb(0, 0, 0, 0.5);
    border: none;
    border-radius: 2px;
    outline: none;
}

.Add-user__modal__content__form select {
    width: 150px;
    font-size: 22px;
    letter-spacing: 0px;
    text-align: center;
}

.Add-user__modal__content__form input[type="file"] {
    font-size: 12px;
    margin-bottom: 15px;
}

.Add-user__modal__content__form input:hover,
select:hover,
textarea:hover {
    box-shadow: -2px 2px 5px #ff3b3f80;
}

.Add-user__modal__content__form label {
    text-shadow: -2px 2px 5px rgb(0, 0, 0, 0.5);
}

.Add-user__modal__content__form textarea {
    width: 100%;
    height: 100px;
    font-size: 20px;
    margin-bottom: 10px;
}

.Add-user__modal__content__buttons {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.Add-user__modal__content__buttons button {
    background-image: linear-gradient(45deg, #ff3b3f, #e60073);
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    height: 30px;
    width: 100px;
    font-size: 18px;
}

.Add-user__modal__content__buttons button:hover {
    transform: scale(1.1);
}
