* {
    padding: 0;
    margin: 0;
    transition: all 0.3s ease;
    font-family: "MoonDance-Regular", sans-serif;
    box-sizing: border-box;
    user-select: none;
}

@font-face {
    font-family: "MoonDance-Regular";
    src: url("../../public/fonts/MoonDance-Regular.ttf") format("truetype");
}

header {
    background-image: linear-gradient(45deg, #ff3b3f, #e60073);
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 2.5rem;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

section {
    margin-top: 40px;
}

/* Estilos para el pie de página */
footer {
    background: linear-gradient(45deg, #ff3b3f, #e60073);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
